<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cheer App</title>
<link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<html>
<body>
<div class="container">
<div class="header">
<h1>CHEER <small>recording & remembering good things</small></h1>
</div>

<hr />

<%= yield %>

</div>

<div class="row">
<div class="col-md-7">
<hr />
<h4>about the developer</h4>
<p>Jubilee Bredenberg was born in the silicon valley, raised in Detroit, and currently lives in New York. After a few years of working in film and fashion, web design and development rose on her "her"-izon. She's currently learning the Ruby programming language.</p>
</div>
</div>
</div>
</div>
</body>
</html>
</body>
</html>
