<h2>Remember other good things:</h2>    

<table border="1" cellpadding="5px" width="80%">
<tr>
   <td>1</td>
   <td>On this date combination #{diary_path_num}.\nYou started your first film class.</td>
</tr>
<tr>
   <td>2</td>
	<td>On this date combination #{diary_path_num}.\nYour film premiered at the 41st Ann Arbor Film Festival.</td>
</tr>
<tr>
   <td>3</td>
   <td>On this date combination you moved to NYC."</td>
</tr>
<tr>
   <td>4</td>
   <td>On this date combination you got hired at Betsey Johnson."</td>
</tr>
<tr>
   <td>5</td>
   <td>On this date combination you met your future husband."</td>
</tr>
<tr>
   <td>6</td>
   <td>On this date combination you moved to Raleigh NC."</td>
</tr>
<tr>
   <td>7</td>
   <td>On this date combination you graduated from high shool."</td>
</tr>
<tr>
   <td>8</td>
   <td>On this date combination you made your big sale to Modcloth."</td>
</tr>
<tr>
   <td>9</td>
   <td>On this date combination you became manager of Betsey Johnson's flagship Soho store."</td>
</tr>
</table>