when 1
	   message = <p>"On this date combination #{diary_path_num}.\nYou started your first film class."</p>
    when 2
	   message = <p>"On this date combination #{diary_path_num}.\nYour film premiered at the 41st Ann Arbor Film Festival."</p>
    when 3
	   message = <p>"On this date combination #{diary_path_num}.\nYou moved to NYC."</p>
    when 4
	   message = <p>"On this date combination #{diary_path_num}.\nYou got hired at Betsey Johnson."</p>
    when 5
	   message = <p>"On this date combination #{diary_path_num}.\nYou met your future husband."</p>
    when 6
	   message = <p>"On this date combination #{diary_path_num}.\nYou moved to Raleigh NC."</p>
    when 7
   	   message = <p>"On this date combination #{diary_path_num}.\nYou graduated from high shool."</p>
    when 8
	   message = <p>"On this date combination #{diary_path_num}.\nYou made your big sale to Modcloth."</p>
    when 9
	   message = <p>"On this date combination #{diary_path_num}.\nYou became manager of Betsey Johnson's flagship Soho store."</p>
    else
	   message = <p>"Uh oh! Today's date combination is not 1-9!"</p>
    end
end